.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-white {
    background-color: var(--white);
}

.bg-neutral {
    background-color: var(--neutral);
}

.bg-neutral-2 {
    background-color: var(--neutral-2);
}

